@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
#menu {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
    list-style: none;
    align-items: center;
    
}

hr {
    width: 80%;
    margin: 0 auto;
}

ul li a {
    color: black;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.315);
    padding: 10px 15px;
    border-radius: 30px;


}

ul li {
   margin-left: 10px;
   width: 10%;
   text-align: center;
}

ul li a:hover {
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.938);
    color: white;
}

.section-user {
    display: flex;
    justify-content: end;
    align-items: center;
}

.section-user p {
    padding-right: 20px;
}

.section-user img {
    width: 5%;
}

#items {
    display: flex;
    justify-content: center;
}

.card-item {
    width: 15%;
    height: 20vh;
    background-color: aqua;
}
#imagem-item {
    width: 100%;
}

.carrinho {
    width: 15%;
}


