<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.item-lista {
    margin: 10rem;
    display: flex;
    width: 70vw;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
}

#info {
    width: 100%;
    margin-left: 15px;
    
}

#thumb {
    width: 7vw;
    height: 7vw;
    object-fit: cover;
    border-radius: 50%;
}

#like {
    width: 3vw;
    height: 3vw;
    /* margin-right: 70%; */
}

#avaliacao {
    width: 1.5vw;
    height: 1.5vw;
}

button {
    margin-top: 5%;
    margin-left: 46%;
    padding: 10px 25px;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    background-color: black;
}
=======
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.item-lista {
    margin: 10rem;
    display: flex;
    width: 70vw;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
}

#info {
    width: 100%;
    margin-left: 15px;
    
}

#thumb {
    width: 7vw;
    height: 7vw;
    object-fit: cover;
    border-radius: 50%;
}

#like {
    width: 3vw;
    height: 3vw;
    /* margin-right: 70%; */
}

#avaliacao {
    width: 1.5vw;
    height: 1.5vw;
}

button {
    margin-top: 5%;
    margin-left: 46%;
    padding: 10px 25px;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    background-color: black;
}
>>>>>>> 90a5c57af6dbc4f6046c4b034361979ba6ff1217
