*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin-left: 10px;
    font-size: 27pt;
    margin-top: 20px;
    margin-left: 15px;
    font-weight: 300;
}

#container {
    border: 1px solid black;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    width: 70%;
    margin: 5% auto; 
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px  35px 0px 15px;
}


.header h2 {
    font-size: 23pt;
    
    font-weight: 200;
}
.header a {
    color: blue;
}
table {
margin: 10% auto;
border-collapse: collapse;
margin-bottom: 15%;
    
}
table th {
    border-bottom: 1px solid black;
    
}

table th {
    
    text-align: justify;
    font-size: 18pt;
    padding-bottom: 15px;
   
}
table tr td {
    text-align: justify;
    padding: 20px 50px 20px 0px;
    color: rgba(0, 0, 0, 0.589);
    border-bottom: 1px solid black;
    font-size: 17pt;
}

.last  {
    border: none;
}
