@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
h1 {
    text-align: center;
    color: red;
}

body {
    background-color: rgb(231, 232, 233);
}

#container {
    display: flex;
    justify-content: center;
    margin: 5% auto;
}
hr {
    margin-bottom: 1%;
}

form {
    background-color: white;
    padding: 30px;
    width: 40%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
input {
    width: 10vw;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.418);
    padding: 5px;
}

#cadastro div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
}

.div-button{
    justify-content: center;
    margin:  0 auto;
}

#cadastro p {
    padding-left: 10px;
    padding-right: 10px;
}

#inpID {
    width: 10%;
}

button {
    margin-top: 1%;
    padding: 5px 20px;
    background-color: red;
    color: white;
    border-radius: 30px;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
button:hover {
    background-color: rgb(184, 33, 33);

}