@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background-color: rgb(228, 228, 228);
}

h3 {
    font-size: 13pt;
    font-weight: 500;

}

hr {
    width: 80%;
    margin: 0 auto;
}
h5 {
    font-size: 10pt;
    font-weight: 00;
    
}

.cont {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 720px;

}

.card {
    width: 40%;
    margin: 2rem;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.726);
}

.card p {
    padding-bottom: 5px;
    font-size: 10pt;
}

.card img {
    width: 35%;
}

button {
    padding: 0px 15px;
    border-radius: 10px;
    border: 1px solid black;
    color: white;
    background: black;
    cursor: pointer;
}

button:hover {
    background: rgba(0, 0, 0, 0.726);

}

.modelo {
    display: none;
    visibility: hidden;
}

textarea {
    width: 60%;
    height: 25px;
    border: 1px solid rgb(136, 132, 132);
    border-radius: 20px;
    resize: none;
    text-align: center;
    font-weight: 500;
    font-size: 10pt;
}
